<div class="main">
  <div class="rooms-container">
    <div *ngFor="let room of rooms" class="room">
      <img src="{{room.photosUrl[0]}}">
      <!--      <img src="assets/img/hotel.jpg">-->

      <div class="text-side">

        <div class="room-information">
          <div class="room-name-rating">
            <h3>{{room.title | textCut: 24}}</h3>
            <app-star-rating [rating]="rating"></app-star-rating>
          </div>
          <div class="location-text">
            <img src="assets/img/locationpoint.svg"/>
            <span>1.45km from center</span>
          </div>
          <p>reviews 140</p>
          <div class="short-description">
            {{description | textCut: 350}}
          </div>

        </div>

        <div class="manage-block">
          <img class="favourite-img" src="assets/img/heartunfill.svg">
          <span class="price">100$</span>
          <p>a night</p>
          <button>Go to site</button>
        </div>
      </div>


    </div>
  </div>
</div>

