<header>
  <div class="header-container">
    <h2 id="btn-home" [routerLink]="['/']">Booking</h2>
    <div class="links-block">
      <a class="link" [routerLink]="['/registration']" [routerLinkActive]="['active-router']">Registration</a>
      <a class="link" [routerLink]="['/login']" [routerLinkActive]="['active-router']">Login</a>
      <a class="link" [routerLink]="['/favorites']" [routerLinkActive]="['active-router']">Favorites</a>
      <button class="btn-create" [routerLink]="['/create-announcement']" [routerLinkActive]="['active-crt']">Create announcement</button>
      <span>Uah</span>
    </div>
  </div>
</header>

